<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>颐彩珠宝</title>
<link href="/static/?css/lib!no-compress;less/index!no-compress,no-cache" rel="stylesheet" type="text/css" />
</head>

<body>
<nav id="nav-menu" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
{foreach $_CATALOG as $item}
                <li{if $_URI.GUID == $item.GUID} class="active"{/if}>
{if $item.sub_catalogs}
            	    <a href="{$item.GUID}" class="dropdown-toggle" data-toggle="dropdown">{$item.title} <b class="caret"></b></a>
                    <ul class="dropdown-menu">                    
{foreach $item.sub_catalogs as $sub_item}                        <li><a href="{$sub_item.GUID}">{$sub_item.title}</a></li>
{/foreach}
                    </ul>
{else}
                    <a href="{$item.GUID}">{$item.title}</a>
{/if}
                </li>
{/foreach}
            </ul>
        </div>
    </div>
</nav>
<div id="carousel-index" class="carousel slide">
	<!-- Indicators -->
    <!-- <ol class="carousel-indicators">
    	<li data-target="#carousel-index" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-index" data-slide-to="1"></li>
        <li data-target="#carousel-index" data-slide-to="2"></li>
        <li data-target="#carousel-index" data-slide-to="3"></li>
    </ol> -->
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
{foreach $_RESULT.related.slideshow as $slideshow}
    	<div class="item{if $slideshow@first} active{/if}">
        	<img src="{$slideshow.image}">
            <div class="carousel-caption">
                <h3 class="custom-font-lato">{$slideshow.sub_title}</h3>
            </div>
        </div>
{/foreach}
    </div>
    <div class="cover"></div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-index" data-slide="prev"><span class="icon-prev"></span></a>
    <a class="right carousel-control" href="#carousel-index" data-slide="next"><span class="icon-next"></span></a>
</div>
<div id="description" class="container">
    <div class="row">
	<div class="jumbotron col-md-9">
    	<h2 class="custom-font-lato"><em class="text-danger">{$_POST.sub_title}</em></h2>
        <blockquote class="text-muted">{$_POST.content}</blockquote>
    </div>
    </div>
</div>
<div id="footer" class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-muted"><small>尊享定制</small> <em class="custom-font-lato">400-928-2883</em></h3>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="#">新闻动态</a></li>
                <li><a href="#">尊贵服务</a></li>
                <li><a href="#">定制流程</a></li>
            </ol>
            <div class="copyright pull-right text-right text-muted">&copy; 2013 07studio.org.</div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/?js/lib!no-compress;js/common;"></script>
<script type="text/javascript">
{literal}
$(function(){
	$('#description').attr('style','margin-top:' + ($('#carousel-index').height() + 50) + 'px;');
	$('#carousel-index .carousel-caption').attr('style','top:' + $('#carousel-index').height() + 'px;');
	$(window).resize(function() {
		$('#carousel-index .carousel-caption').attr('style','top:' + $('#carousel-index').height() + 'px;');
		$('#description').attr('style','margin-top:' + ($('#carousel-index').height() + 50) + 'px;');
	});
	$('.carousel').carousel({
		interval: 8000,
		pause: 'hover',
	});
});
{/literal}
</script>
</body>
</html>